@inherits LayoutComponentBase

<div class="main-layout-container ">
    <main class="content-area bg-black text-white">
        <article class="px-4 py-3">
            @Body
        </article>
    </main>

    <footer class="bottom-nav">
        <NavMenu />
    </footer>
</div>