@inherits LayoutComponentBase
@inject LiftIt.Models.StateService State

<div class="main-layout-container @(State.DarkTheme ? "" : "light-mode")">

    <main class="content-area">
        <article class="p-3">
            @Body
        </article>
    </main>

    <footer class="bottom-nav">
        <NavMenu />
    </footer>

</div>