@inherits LayoutComponentBase

<div class="main-layout-container">

    <main class="content-area">
        <article class="p-3">
            @Body
        </article>
    </main>

    <footer class="bottom-nav">
        <NavMenu />
    </footer>

</div>