<div class="w-100 h-100">
    <nav class="d-flex justify-content-around align-items-center h-100 w-100">
        <div class="nav-item">
            <NavLink class="nav-link d-flex flex-column align-items-center" href="" Match="NavLinkMatch.All">
                <span class="bi bi-graph-home-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link d-flex flex-column align-items-center" href="trening">
                <span class="bi bi-graph-up-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Workout</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link d-flex flex-column align-items-center" href="logowanie">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Profile</span>
            </NavLink>
        </div>
    </nav>
</div>