<div class="w-100 d-flex justify-content-center">
    <nav class="nav d-flex flex-row align-items-center justify-content-center">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-inline-flex align-items-center text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu me-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-inline-flex align-items-center text-white" href="trening">
                <span class="bi bi-grapgh-up-fill-nav-menu me-2" aria-hidden="true"></span> Training
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-inline-flex align-items-center text-white" href="profile">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
    </nav>
</div>