@page "/"
@layout MainLayout
@inject LiftIt.Models.StateService State

<div class="auth-container">
    @if (!State.IsLoggedIn)
    {
        <div class="auth-card">
            <h1>Welcome to 
                <span class="accent-text">LiftIt</span>
            </h1>
            <p>Please <a class="accent-text text-decoration-none" href="logowanie">Sign In</a> to continue.</p>
        </div>
    } else {
        <h1>Hello, world!</h1>
        <p>Welcome to your new app.</p>
    }
</div>