.form-control{
    width: 100%;
}

h3 {
    font-weight: 700;
    margin-bottom: 8px;
    color: #ffcc00;
}

.subtitle {
    color: var(--text-main);
    font-size: 0.9rem;
    margin-bottom: 30px;
}

input::placeholder {
    color: var(--text-darker);
}

/* Odnośnik do rejestracji */
.register-redirect {
    margin-top: 25px;
    font-size: 0.9rem;
    color: var(--text-main-darker);
}

    .register-redirect a {
        color: var(--accent-color);
        text-decoration: none;
        font-weight: 600;
    }

        .register-redirect a:hover {
            text-decoration: underline;
        }

.bi-person-circle {
    display: inline-block;
    width: 5rem; /* Możesz dostosować rozmiar */
    height: 5rem; /* Możesz dostosować rozmiar */
    background-color: currentColor; /* Ikona automatycznie przyjmie kolor tekstu rodzica! */
    /* Zakodowany SVG jako maska */
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/><path fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/></svg>");
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/><path fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/></svg>");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}