@page "/logowanie"
@layout MainLayout
@implements ILogowanieView

<div class="auth-container">
    <div class="auth-card">
        <h3>Welcome back!</h3>
        <p class="subtitle">Sign In to track your workouts.</p>

        <form @onsubmit="OnZalogujClicked">

            <div class="input-group">
                <label for="email">Adres E-mail</label>
                <input id="email" type="email" class="form-control" placeholder="example@email.com" @bind="Email" required />
            </div>

            <div class="input-group">
                <label for="password">Hasło</label>
                <input id="password" type="password" class="form-control" placeholder="••••••••" @bind="Password" required />
            </div>

            <button type="submit" class="btn-primary-custom">Sign In</button>
        </form>

        <div class="register-redirect">
            <span>Don't have an account? <a href="/rejestracja">Sign in now!</a></span>
        </div>

    </div>
</div>

@code {
    // Tutaj w przyszłości dodasz bindowanie pól i wywołanie Prezentera
    public string Email { get; set; }
    public string Password { get; set; }

    private void OnZalogujClicked()
    {
        // Tutaj wywołanie: _presenter.Zaloguj();
    }
}
