@page "/rejestracja"
@layout MainLayout
@implements IRejestracjaView
@inject NavigationManager Navigation

<div class="auth-container">
    <div class="auth-card">

        <h3>Welcome to LiftIt!</h3>
        <p class="subtitle">Fill all the fields to Sign Up.</p>

        <form @onsubmit="OnRejestracjaClicked">

            <div class="input-group">
                <label for="login">Login</label>
                <input id="login" class="form-control" placeholder="Login" @bind="Login" required />
            </div>

            <div class="input-group">
                <label for="email">E-mail</label>
                <input id="email" type="email" class="form-control" placeholder="example@email.com" @bind="Email" required />
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" placeholder="••••••••" @bind="Password" required />
            </div>

            <div class="input-group">
                <label for="password-confirm">Confirm password</label>
                <input id="password-confirm" type="password" class="form-control" placeholder="••••••••" @bind="PasswordConfirm" required />
            </div>

            <button type="submit" class="btn-primary-custom">Sign Up</button>
        </form>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="error-message mt-2">
                <span class="error-text">@errorMessage</span>
            </div>
        }

        <div class="register-redirect">
            <span>Already have an account? <a href="/logowanie">Sign in</a></span>
        </div>

    </div>
</div>

@code {
    [Inject] public Models.DatabaseContext DbContext { get; set; }
    [Inject] public Models.StateService StateService { get; set; }

    private string errorMessage = "";
    private RejestracjaPresenter _presenter;
    

    public string Login { get; set; }
    public string Email { get; set; }
    public string Password { get; set; }
    public string PasswordConfirm { get; set; }

    public event Action SignUpUser;

    protected override void OnInitialized()
    {
        _presenter = new RejestracjaPresenter(this, DbContext, StateService);
    }

    private void OnRejestracjaClicked()
    {
        SignUpUser?.Invoke();
        StateHasChanged();

    }

    public void RedirectHomePage()
    {
        Navigation.NavigateTo("/", forceLoad: false);
    }

    public void ShowSignUpError(string message)
    {
        errorMessage = message;
        StateHasChanged();
    }
}
